.add {
	color: #63e463;
}

.rem {
	color: #e12;
}

.wrn {
	color: #f9fe64;
}

.nfo {
	color: #a0a;
}

.com {
	color: #ccc;
}

.hash {
	color: #800;
}

pre {
	padding: 19px;
	margin-bottom: 20px;
	color: white;
	background-color: #333;

	border: 1px solid #e3e3e3;
	border-radius: 2px;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.commit {
	border-radius: 2px;

	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top,  hsla(0,0%,90%,1) 0%, hsla(0,0%,100%,1) 10em); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(0,0%,90%,1)), color-stop(20em,hsla(0,0%,100%,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  hsla(0,0%,90%,1) 0%,hsla(0,0%,100%,1) 20em); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  hsla(0,0%,90%,1) 0%,hsla(0,0%,100%,1) 20em); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  hsla(0,0%,90%,1) 0%,hsla(0,0%,100%,1) 20em); /* IE10+ */
	background: linear-gradient(to bottom,  hsla(0,0%,90%,1) 0%,hsla(0,0%,100%,1) 20em); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	padding: 1px 9px 8px;
	margin-top: 19px;
}

.commit h3 {
	cursor: pointer;
}

.commit.minify p,
.commit.minify pre {
	display: none;
}

.commit h2:last-child {
	text-align:right;
}

body {
	padding-bottom: 19px;

	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(bottom,  hsla(0,0%,90%,1) 0%, hsla(0,0%,100%,1) 10em); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,hsla(0,0%,90%,1)), color-stop(20em,hsla(0,0%,100%,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  hsla(0,0%,90%,1) 0%,hsla(0,0%,100%,1) 20em); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(bottom,  hsla(0,0%,90%,1) 0%,hsla(0,0%,100%,1) 20em); /* Opera 11.10+ */
	background: -ms-linear-gradient(bottom,  hsla(0,0%,90%,1) 0%,hsla(0,0%,100%,1) 20em); /* IE10+ */
	background: linear-gradient(to top,  hsla(0,0%,90%,1) 0%,hsla(0,0%,100%,1) 20em); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
