#to-do {
    font-size: larger;
    padding: 10px;
    margin-top: 2ex;
    width: 100%;
}

.remove {
	margin-top: 2px;
	opacity: 0;
	transition: all 0.3s 0.2s;
}

.todo:hover {
	.remove {
		opacity: 1;
		transition: all 0.1s 0;
	}
}
