div(ng:controller='todo')
	header
		h1 To Do
	section.row
		.col-md-6.col-md-offset-3
			form(ng:submit='Todos.add()')
				input(type='text', id="to-do", name='to-do', placeholder='to-do', ng:model='Todos.current')
			ol(ng:cloak)
				li.todo(ng:repeat='todo in list.todos')
					| {{todo.todo}}
					button.remove.btn.btn-default.btn-sm.pull-right(ng:click="Todos.remove(todo)")
						span.glyphicon.glyphicon-ok
	footer
		| List status: {{list._status()}}
