!!!
html
	head
		title To Do - Angular JS
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="page.css", media="screen")
		//- script(src='bower/angular/angular.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-animate.js')
		script(src='http://underscorejs.org/underscore-min.js')
		script(src='/bower/q/q.js')
		script(src='/vendor/jefri/lib/jefri.min.js')
		script(src='/vendor/stores/lib/jefri-stores.min.js')
		script(src='bundle.js')
	body(ng:app='todo')
		.container
			.jumbotron.well
				include todo/template
			footer
				:markdown
					BDD Todo by [David Souther](http://davidsouther.com)
